body {
    font-family: Arial;
    background: #111;
    color: #fff;
    padding: 20px;
  }
  
  input, select, button {
    padding: 10px;
    margin-right: 10px;
  }
  
  .grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px;
  }
  
  .card {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 4px;
  }
  
  .modal {
    margin-top: 30px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
  }
